  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    
    <!-- Main App -->
    <div id="app">
		<v-navigation-drawer
	      :clipped="$vuetify.breakpoint.lgAndUp"
	      v-model="drawer"
	      fixed
	      app
	    >
	      <v-list dense>
	        <template v-for="(item, n) in items">
	          <v-layout
	            v-if="item.heading"
	            :key="item.heading"
	            row
	            align-center
	          >
	            <v-flex xs6>
	              <v-subheader v-if="item.heading">
	                {{ item.heading }}
	              </v-subheader>
	            </v-flex>
	          </v-layout>
	          <v-list-group
	            v-else-if="item.children"
	            v-model="item.model"
	            :key="item.text"
	            :prepend-icon="item.model ? item.icon : item['icon-alt']"
	            append-icon=""
	          >
	            <v-list-tile slot="activator">
	              <v-list-tile-content>
	                <v-list-tile-title>
	                  {{ item.text }}
	                </v-list-tile-title>
	              </v-list-tile-content>
	            </v-list-tile>
	            <v-list-tile
	              v-for="(child, i) in item.children"
	              :key="i"
	              v-on:click="active = '2' + i"
	            >
	              <v-list-tile-action v-if="child.icon">
	                <v-icon>{{ child.icon }}</v-icon>
	              </v-list-tile-action>
	              <v-list-tile-content>
	                <v-list-tile-title>
	                  {{ child.text }}
	                </v-list-tile-title>
	              </v-list-tile-content>
	            </v-list-tile>
	          </v-list-group>
	          <v-list-tile v-else :key="item.text" v-on:click="active = n">
	            <v-list-tile-action>
	              <v-icon>{{ item.icon }}</v-icon>
	            </v-list-tile-action>
	            <v-list-tile-content>
	              <v-list-tile-title>
	                {{ item.text }}
	              </v-list-tile-title>
	            </v-list-tile-content>
	          </v-list-tile>
	        </template>
	      </v-list>
	    </v-navigation-drawer>


	    <v-toolbar
	      :clipped-left="$vuetify.breakpoint.lgAndUp"
	      color="blue darken-3"
	      dark
	      app
	      fixed
	    >
	      <v-toolbar-title class="ml-0 pl-3">
	        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
	        <span class="hidden-sm-and-down">{{ productId }} - {{ productName }}</span>
	      </v-toolbar-title>
		
	      <v-spacer></v-spacer>
	      <v-btn icon>
	        <v-icon>refresh</v-icon>
	      </v-btn>
	      <v-btn icon>
	        <v-icon>close</v-icon>
	      </v-btn>

	    </v-toolbar>


	    <v-content>
	      <v-container fluid fill-height v-if="active === '20'">
	      	Inflow
	      </v-container>
	      <v-container fluid fill-height v-if="active === '21'">
	      	Orders
	      </v-container>
	      <v-container fluid fill-height v-if="active === '22'">
	      	Correspondence
	      </v-container>
	      <v-container fluid fill-height v-if="active === '23'">
	      	Statistic
	      </v-container>
	      <v-container fluid fill-height v-if="active === 1">
	      	Product histoy
	      </v-container>
	      <v-container fluid fill-height v-if="active === 2">
	      	Set
	      </v-container>
	      <v-container fluid fill-height v-if="active === 3">
	      	Sub products
	      </v-container>
	      <v-container fluid fill-height v-if="active === 4">
	      	Best offer
	      </v-container>
	      <v-container fluid fill-height v-if="active === 5">
	      	Email
	      </v-container>
	      <v-container fluid fill-height v-if="active === 6">
	      	Price history
	      </v-container>
	      <v-container fluid fill-height v-if="active === 7">
	      	Images
	      </v-container>
	    </v-content>
     </div>

    <script type="text/javascript">

      $(document).ready(function() {

          /*Main template*/
          new Vue({
            el: '#app',
            data: {
              active: '20',
              dialog: false,
		      drawer: null,
		      productName: "SpeedCAM WEINBERGER Visario G2 High Speed 1500 Black&White camera",
		      productId: "29436",
		      items: [
		        {
		          icon: 'keyboard_arrow_up',
		          'icon-alt': 'keyboard_arrow_down',
		          text: 'Check',
		          model: false,
		          children: [
		            { text: 'Inflow' },
		            { text: 'Orders' },
		            { text: 'Correspondence' },
		            { text: 'Statistic' }
		          ]
		        },
		        { icon: 'history', text: 'Product history' },
		        { icon: 'shopping_cart', text: 'Set' },
		        { icon: 'shopping_basket', text: 'Sub products' },
		        { icon: 'attach_money', text: 'Best offers' },
		        { icon: 'email', text: 'Email' },
		        { icon: 'history', text: 'Price history' },
		        { icon: 'photo_camera', text: 'Images' }
		      ]
            },
            props: {
		      source: String
		    }
          });
      });
      
    </script>

    <style>
		.v-toolbar__content, .v-toolbar__extension {
			background-color: white;
			color: black;
			font-weight: 100;
		}

		.v-icon.material-icons.theme--dark {
			color: grey;
		}
    </style>
  </body>
  </html>
